html, body {
    height: 100%;
}

body {
    margin: 0;
    font: 16px sans-serif;
    touch-action: none;
    background: #262626;
}

canvas {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
}

.controls {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: #fff;
    min-width: 350px;
    padding: 5px 10px;
    box-sizing: border-box;
    overflow: auto;
}

.row {
    margin: 8px 0;
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.sub {
    margin-top: 4px;
}

#frame_input {
    width: 5em;
}

.skeleton-group {
    padding: 0;
    border: none;
}

select {
    flex: 1 1 auto;
    font-size: 16px;
    width: 200px;
}

label {
    display: inline-block;
    white-space: nowrap;
}

input {
    flex: 1 1 auto;
    vertical-align: middle;
    font-size: 16px;
}

button {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.inner {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.drag-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    overflow: hidden;
}

.container_drag .drag-root {
    pointer-events: auto;
}

.drag {
    flex: 1 0 auto;
    padding: 10px;
    margin: 10px;
    border: 3px dashed transparent;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.drag_hovered {
    background: rgba(255, 255, 255, 0.4);
}

.container_custom .drag {
    color: transparent;
}

.container_drag .drag {
    border-color: #aaa;
    color: #fff;
}

.drag-main {
    flex: 1 1 auto;
}

.drag-textures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.github {
    margin-top: auto;
}
